### Build Artifacts ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
.mvn/wrapper/maven-wrapper.jar

### IDE Files ###
.idea/
*.iml
*.iws
*.ipr
.vscode/

### Spring Boot ###
HELP.md

### Exclude Private Credentials ###
src/main/resources/application.properties

### Logs and Cache ###
*.log
*.class
.cache/
.project
.classpath
.settings/
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/